extends layout


block content
  .row
    .col-xs-6.text-center
      i.fa.fa-spinner.fa-spin.lock
      .subtitle Door Lock
    .col-xs-6.text-center
      i.fa.fa-spinner.fa-spin.switch
      .subtitle Light switch
  br
  .row
    .col-xs-12.text-center
      input(type='text', id="flat")
      .subtitle LED Strip
