extends layout

block content
  .container-fluid.text-center
    .row
      .col-md-8.col-md-offset-2
        br
        input.form-control.query(type='text', placeholder='Enter your command')
        br
        button.btn.btn-default.btn-lg.query Submit

        br
        br
        h2.response
        h5.time
        pre.result.text-left
    .row
      .mic.record-start
        i.fa.fa-microphone
