extends layout

block content
  #wrapper
    #sidebar-wrapper
      ul.sidebar-nav
        li.sidebar-brand Dorm Automation
        li
          i.fa.fa-home=' Home'
        li
          i.fa.fa-lightbulb-o=' Lights'
        li
          i.fa.fa-lock=' Lock'
    #page-content-wrapper
      .container-fluid
        .row
          .titlebar
            i.fa.fa-bars.toggle
        .row
          .col-xs-12.text-center
            .title Lights
            br
            input(type='text' id="flat")
