extends layout

block content
  .row.full-height
    .col-sm-6.col-sm-offset-3
      br
      .help
        .title.text-center What can I do for you?
        include ./examples.jade
      .results
        .request.text-right(contentEditable='true') What is the moon phase today?
        p.tiny.text-right Tap to edit
        .response.text-left The moon will be in a first quarter phase with a illumination of 50%.
      .loading
        i.fa.fa-spinner.fa-spin
  .bottom-bar
    i.fa.fa-microphone.mic.record-start
