extends layout

block content
  .container-fluid.text-center
    .row
      .col-md-8.col-md-offset-2
        br
        input.form-control.query(type='text', placeholder='Enter your command')
        br
        button.btn.btn-default.btn-lg Submit
        .mic.record-start
          i.fa.fa-microphone
        br
        br
        pre.result.text-left



        #siri
