doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/simple-sidebar.css')
    link(rel='stylesheet', href='/stylesheets/spectrum.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/index.js')
    script(src='/javascripts/spectrum.js')
  body
    block content
