extends layout


block content
  .row
    .col-xs-12.text-center
      .title Lock
      br
      i.fa.fa-spinner.fa-spin.lock
  .row
    .col-xs-12.text-center
      .title Switch
      br
      i.fa.fa-spinner.fa-spin.switch