body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}

.title {
  font-size: 30pt;
  font-weight: 300;
  margin-top: 10px;
}

.titlebar {
  background-color: #555;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  height: 50px;
  width: 100%;
}

.titlebar .toggle {
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
  color: #ddd;
  cursor: pointer;
}

.mic {
  position: relative;
  font-size: 60px;
  border-radius: 50%;
  border: 3px #666 solid;
  color: #666;
  height: 120px;
  width: 120px;
  margin: 15px auto;
  cursor: pointer;
}

.mic .fa {
  position: absolute;
  left: 0; right: 0;
  top: 30px;
}

.record-stop {
  color: #F44336;
  border-color: #F44336;
}

.result {
  display: none;
}
